modules/updatetrackerwebservice/updatetrackerwebserviceInterface/data/wsdl/updatetracker.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!--
  ~ $Id$
  ~ $Revision$
  ~ $Date$
  ~ $Author$
  ~
  ~ The DOMS project.
  ~ Copyright (C) 2007-2010  The State and University Library
  ~
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://updatetracker.doms.statsbiblioteket.dk/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://updatetracker.doms.statsbiblioteket.dk/"
             name="UpdateTrackerWebserviceService">
    <types>
        <xsd:schema>
            <xsd:import
                    namespace="http://updatetracker.doms.statsbiblioteket.dk/"
                    schemaLocation="updatetracker.xsd"/>
        </xsd:schema>
    </types>

    <message name="MethodFailedException">
        <part name="fault" element="tns:MethodFailedException"/>
    </message>

    <message name="InvalidResourceException">
        <part name="fault" element="tns:InvalidResourceException"/>
    </message>


    <message name="InvalidCredentialsException">
        <part name="fault" element="tns:InvalidCredentialsException"/>
    </message>

    <!--Object method messages-->
    <message name="newObject">
        <part name="parameters" element="tns:newObject"/>
    </message>
    <message name="newObjectResponse">
        <part name="parameters" element="tns:newObjectResponse"/>
    </message>

    <portType name="UpdateTrackerWebservice">
        <documentation>UpdateTracker of the DOMS system
        </documentation>
        <!--Object methods-->
        <operation name="newObject">
            <documentation>Create a new object. The new object is created by
                cloning
                the template, which is given (as a pid) to this method.
            </documentation>
            <input message="tns:newObject"/>
            <output message="tns:newObjectResponse"/>
            <fault name="InvalidCredentialsException"
                   message="tns:InvalidCredentialsException"/>
            <fault name="MethodFailedException"
                   message="tns:MethodFailedException"/>
            <fault name="InvalidResourceException"
                   message="tns:InvalidResourceException"/>
        </operation>
    </portType>
    <binding name="UpdateTrackerWebservicePortBinding"
             type="tns:UpdateTrackerWebservice">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"/>
        <operation name="newObject">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="MethodFailedException">
                <soap:fault name="MethodFailedException" use="literal"/>
            </fault>
            <fault name="InvalidCredentialsException">
                <soap:fault name="InvalidCredentialsException" use="literal"/>
            </fault>
            <fault name="InvalidResourceException">
                <soap:fault name="InvalidResourceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="UpdateTrackerWebserviceService">
        <port name="UpdateTrackerWebservicePort"
              binding="tns:UpdateTrackerWebservicePortBinding">

            <soap:address
                    location="http://localhost:7910/lowlevelbitstorage/lowlevel/"/>
        </port>
    </service>
</definitions>